<form class="form-inline" action="answer">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Question</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Your Question" name="question">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask !</button>
</form>
